.support-menu * {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.support-menu {
    margin: 20px auto;
    width: 300px;
}

nav.vertical {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    overflow: hidden;
    text-align: center;
}

    nav.vertical > ul {
        list-style-type: none;
    }

        nav.vertical > ul > li {
            display: block;
        }

            nav.vertical > ul > li > label,
            nav.vertical > ul > li > a {
                background-color: #000;
                background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
                background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
                background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
                background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
                border-bottom: 1px solid rgba(255,255,255,.1);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
                color: rgb(255,255,255);
                display: block;
                font-size: .85rem;
                font-weight: 500;
                height: 50px;
                letter-spacing: .5rem;
                line-height: 50px;
                text-shadow: 0 1px 1px rgba(0,0,0,.1);
                text-transform: uppercase;
                transition: all .1s ease;
            }

                nav.vertical > ul > li > label:hover,
                nav.vertical > ul > li > a:hover {
                    background-color: #2fdab8;
                    background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                    cursor: pointer;
                }

                nav.vertical > ul > li > label + input {
                    display: none;
                }

            nav.vertical > ul > li > div {
                background-color: #000;
                max-height: 0;
                overflow: hidden;
                transition: all .5s linear;
            }

            nav.vertical > ul > li > label + input:checked + div {
                max-height: 500px;
            }

            nav.vertical > ul > li > div > ul {
                list-style-type: none;
            }

                nav.vertical > ul > li > div > ul > li > a {
                    background-color: rgb(255,255,255);
                    border-bottom: 1px solid rgba(0,0,0,.05);
                    color: #333331;
                    display: block;
                    font-size: 1.1rem;
                    padding: 10px 0;
                    text-decoration: none;
                    transition: all 0.15s linear;
                }

                nav.vertical > ul > li > div > ul > li:hover > a {
                    background-color: #2fdab8;
                    color: rgb(255,255,255);
                    padding: 10px 0 10px 50px;
                }

#CauHinh ul li {
    list-style-type: none;
}
/*check out*/
/*-- //single-page --*/
/*-- check out --*/
.checkout {
    padding: 0;
}

    .checkout h3 {
        color: #000;
        text-align: center;
        font-size: 26px;
        margin: 0 0 3em;
        text-transform: uppercase;
    }

        .checkout h3 span {
            color: #d8703f;
        }

table.timetable_sub {
    width: 100%;
    margin: 0 auto;
}

.timetable_sub thead {
    background: #000;
}

.timetable_sub th {
    background: #000;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid #CDCDCD;
}

.timetable_sub th {
    text-align: center;
    padding: 7px;
    font-size: 17px;
    color: #212121;
}

.timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 14px;
    color: #000;
}

.timetable_sub td {
    border: 1px solid #CDCDCD;
}

td.invert-image a img {
    width: 30%;
    margin: 0 auto;
}

.rem {
    position: relative;
}


/*-- quantity-starts --*/
.value-minus,
.value-plus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #b2b2b2;
    vertical-align: bottom;
}

.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before {
    content: "";
    width: 13px;
    height: 2px;
    background: #FDA30E;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -0.5px;
    position: absolute;
}

.quantity-select .entry.value-plus:after {
    content: "";
    height: 13px;
    width: 2px;
    background: #FDA30E;
    left: 50%;
    margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
    position: absolute;
}

.value {
    cursor: default;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    color: #000000;
    line-height: 24px;
    border: 1px solid #B2B2B2;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}

.quantity-select .entry.value-minus:hover,
.quantity-select .entry.value-plus:hover {
    background: #2fdab8;
}

.quantity-select .entry.value-minus {
    margin-left: 0;
}
/*-- quantity-end --*/
.checkout-left-basket h4 {
    padding: 1.5em;
    background: #000;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}

.checkout-left {
    margin: 1em 0 0;
}

.checkout-left-basket {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    font-weight: 400;
    color: #2e2c2c;
}

.checkout-left-basket {
    width: 40%;
    border: 1px solid #ccc;
}
.checkout-left-basket .control-label {
    text-align: left;
}
.checkout-left input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkout-left label {
    margin-bottom: 10px;
    display: block;
}

.checkout-right-basket h4 {
    padding: 1.5em;
    background: #000;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}

.checkout-right {
    margin: 2em 0 0;
}

.checkout-right-basket ul li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    font-weight: 400;
    color: #2e2c2c;
}

.checkout-right-basket {
    float: right;
    width: 30%;
    border: 1px solid #ccc;
}

.checkout-right-basket ul li span {
    float: right;
}

.checkout-right-basket ul {
    padding: 4px 25px;
}

    .checkout-right-basket ul li:nth-child(8) {
        border-top: 1px solid #ccc;
        padding: 20px 0 0;
    }


.checkout-chk {
    float: right;
    margin: 7em 1rem 0 0em;
}

.btn-dathang button {
    padding: 10px 45px;
    color: #fff;
    font-size: 1em;
    background: #212121;
    text-decoration: none;
}

    .btn-dathang button:hover {
        background: #2fdab8;
    }

    .btn-dathang a span {
        left: 0.08em;
        top: 0.05em;
    }
.checkout-btn {
    float: left;
    margin: 8em 0 0 0em;
}

    .checkout-btn a {
        padding: 10px 45px;
        color: #fff;
        font-size: 1em;
        background: #212121;
        text-decoration: none;
    }

        .checkout-btn a:hover {
            background: #2fdab8;
        }

    .checkout-btn a span {
        left: 0.08em;
        top: 0.05em;
    }

/*-- //check out --*/
.badge {
    background-color: rgb(99, 148, 248);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 1;
    padding: 6px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top:2.8rem;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
    right:-50%;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.shopping-cart {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    float: left;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    width: 320px;
    overflow: hidden;
}

    .shopping-cart .shopping-cart-header {
        border-bottom: 1px solid rgb(232, 232, 232);
        padding-bottom: 15px;
    }

        .shopping-cart .shopping-cart-header .shopping-cart-total {
            float: right;
        }

    .shopping-cart .shopping-cart-items {
        padding-top: 20px;
    }

        .shopping-cart .shopping-cart-items li {
            margin-bottom: 18px;
            list-style:none;
        }

        .shopping-cart .shopping-cart-items img {
            float: left;
            margin-right: 12px;
            width:50px;
            height:50px;
        }

        .shopping-cart .shopping-cart-items .item-name {
            display: block;
            font-size: 16px;
            padding-top: 10px;
        }

        .shopping-cart .shopping-cart-items .item-price {
            color: rgb(99, 148, 248);
            font-size: 12px;
            margin-right: 8px;
        }

        .shopping-cart .shopping-cart-items .item-quantity {
            color: rgb(171, 176, 190);
            font-size: 13px;
        }

    .shopping-cart::after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
        border-image: none;
        border-style: solid;
        border-width: 8px;
        bottom: 100%;
        content: " ";
        height: 0;
        left: 80%;
        margin-left: -8px;
        pointer-events: none;
        position: absolute;
        width: 0;
    }

.cart-icon {
    color: rgb(81, 87, 131);
    float: left;
    font-size: 24px;
    margin-right: 7px;
}
/*------*/
.btnCart {
    -moz-box-shadow: inset 0px 1px 4px 0px #31382b;
    -webkit-box-shadow: inset 0px 1px 4px 0px #31382b;
    box-shadow: inset 0px 1px 4px 0px #31382b;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7fa85b), color-stop(1, #5cb811) );
    background: -moz-linear-gradient( center top, #7fa85b 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fa85b', endColorstr='#5cb811');
    background-color: #7fa85b;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 3px solid #258015;
    display: inline-block;
    color: #306108;
    font-family: Times New Roman;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 136px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #a3e069;
}

    .btnCart:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #7fa85b) );
        background: -moz-linear-gradient( center top, #5cb811 5%, #7fa85b 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#7fa85b');
        background-color: #5cb811;
    }

    .btnCart:active {
        position: relative;
        top: 1px;
    }
.sort-grid input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /* When the input field gets focus, change its width to 100% */
    .sort-grid input[type=text]:focus {
        width: 100%;
    }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }










