
@{
    ViewBag.Title = "DemoAjax";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@*cach 1*@
@*@Ajax.ActionLink("Load Ajax MVC", "loadAjaxActionLink", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.InsertAfter, LoadingElementId = "loading" })*@


@*cach 2*@
@*
    @using (Ajax.BeginForm("loadAjaxBeginForm", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.Replace, LoadingElementId = "loading" })) {
        <input name="txt1" />
        <input type="submit" value="Submit"/>
    }
*@
@*<input id="txt1" />
    <input id="txt2" />
    <input type="button" id="button" value="Submit Jquery Ajax" />
    <div id="loading" style="display:none;">
        <img src="~/Content/images/loading.gif" />
    </div>
    <div id="KetQua" style="height:150px;">


    </div>*@

@* load partial view ajax*@


<div class="banner-bootom-w3-agileits">
    <div class="container">
        <h3 class="wthree_text_info">Sản Phẩm</h3>
        @Ajax.ActionLink("Load Ajax MVC", "SanPhamPartial", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "KetQua", InsertionMode = InsertionMode.InsertAfter, LoadingElementId = "loading" })
        <div id="loading" style="display:none;">
            <img src="~/Content/images/loading.gif" />
        </div>
        <div id="KetQua" style="height:150px;">


        </div>
    </div>
    </div>
