
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info wow fadeInUp" data-wow-duration="2s">
            <div class="col-md-6 ab_pic_w3ls">
                <img src="~/Content/images/ImagesTinTuc/HinhBia2.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 ab_pic_w3ls_text_info">
                <h5>About Our Tech <span> House</span> </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor. Mauris volutpat augue dolor..</p>
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner_bottom_agile_info_inner_w3ls wow fadeInUp" data-wow-duration="2s">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Content/images/ImagesTinTuc/HinhBia4.jpg" alt=" " class="img-responsive" style="height:200px">
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Content/images/ImagesTinTuc/HinhBia3.jpg" alt=" " class="img-responsive" style="height:200px">
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info wow fadeInUp" data-wow-duration="2s">
            <div class="col-md-6 ab_pic_w3ls">
                <h5>About Our Tech <span> House</span> </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor. Mauris volutpat augue dolor..</p>
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-6 ab_pic_w3ls_text_info">
                <img src="~/Content/images/ImagesTinTuc/HinhBia7.jpg" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner_bottom_agile_info_inner_w3ls wow fadeInUp" data-wow-duration="2s">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Content/images/ImagesTinTuc/HinhBia6.jpg" alt=" " class="img-responsive" style="height:200px">
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Content/images/ImagesTinTuc/HinhBia5.png" alt=" " class="img-responsive" style="height:200px">
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
